rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function userData() {
      return firestore.get(/databases/(default)/documents/Usuarios/$(request.auth.uid)).data;
    }

    function isSuperadmin() {
      return isSignedIn() && userData().rol == 'superadmin';
    }

    function isCoordinador() {
      return isSignedIn() && userData().rol == 'coordinador';
    }

    function validLogoUpload() {
      return request.resource.size < 2 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /clubes/{clubId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if validLogoUpload() && (
        isSuperadmin() || (isCoordinador() && userData().clubId == clubId)
      );
      allow delete: if isSuperadmin() || (isCoordinador() && userData().clubId == clubId);
    }

    match /equipos/{equipoId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if validLogoUpload() && (
        isSuperadmin()
        || (
          isCoordinador()
          && userData().clubId
            == firestore.get(/databases/(default)/documents/Equipos/$(equipoId)).data.clubId
        )
      );
      allow delete: if isSuperadmin()
        || (
          isCoordinador()
          && userData().clubId
            == firestore.get(/databases/(default)/documents/Equipos/$(equipoId)).data.clubId
        );
    }
  }
}
